* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Courier, monospace;
    background-color: #0B2447;
    color: #AA77FF;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    min-height: 10vh;
    padding-top: 3%;
    padding-left: 0%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;

}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10%;
}

nav ul li a {
    text-decoration: none;
    color: #AA77FF;
    font-size: 14px;
}

nav ul li a:hover {
    color: red;
}

.hlavicka {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.hlavniNadpis {
    flex-basis: 50%;
    position: relative;
    margin-left: 3%;
}

.site-logo {
    border-radius: 0px 250px 250px 0px;
    border: 2px solid gray;
    border-left: none;
    max-width: 100%;
    height: auto;
}

.social-links img {
    height: 15px;
    margin: 20px;
    cursor: pointer;
}

.main {
    max-width: 100%;
    height: auto;
    font-size: 15px;
    text-align: center;
    padding: 0% 20%;
}

.main p {
    margin-bottom: 30px;
}

.main ul li {
    text-align: left;
}

.hlavniFotka {
    text-align: center;
    margin-bottom: 30px;
}

.hlavniFotka img {
    border-radius: 50%;
    border: 2px solid gray;
    max-width: 100%;
}

.videoNabor {
    text-align: center;
    margin-top: 30px;
}

.videoNabor video {
    border: 1px solid #AA77FF;
    border-radius: 0% 20% 0% 20%;
    box-shadow: 0 0 5px #AA77FF;
    max-width: 100%;
    background-color: black;
}

.social-links {
    text-align: center;
}

.social-links a {
    color: wheat;
    display: inline-block;
    margin-right: 10px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
}

.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}

.trenersPhotos {
    overflow: hidden;
}

.trenersPhotos img {
    border-radius: 80%;
    margin-right: 20px;
    display: block;
    float: left;
    clear: left;
    margin-bottom: 40px;
}

.trenersPhotos ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.trenersPhotos li {
    margin-bottom: 20px;
    clear: left;
}

.trenersPhotos p {
    margin: 0;
}


.traning-table {
    width: 80%;
    border-collapse: collapse;
    font-size: 16px;
    font-family: cursive;

    min-width: 400px;
    line-height: 1.5;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.15);
    margin: 40px auto 20px;
    margin-bottom: 100px;
}

.traning-table tr:first-child td{
    background-color:#bcdff6 ;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  
}

.traning-table td,
th {
    border: 1px solid;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    }
    .traning-table  tr:first-child td:first-child {
        border-top-left-radius: 30px;
    }

    .traning-table  tr:first-child td:last-child {
        border-top-right-radius: 30px;
    }
    .horizontal-line {
        border-top: 1px solid black;
        width: 100%;
        margin: 20px 0;
      }
      .hr-contacts{
        text-align: center;
        width: 10%;
      }
      form {
        max-width: 500px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 1.5;
    }
    label {
        display: inline-block;
        width: 120px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    input[type="text"], input[type="email"], input[type="number"], select {
        display: inline-block;
        width: 200px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }
    input[type="button"] {
        background-color: #54a776;
        color: white;
        padding: 10px 20px;
        border: 2px;
        border-radius: 5px;
        cursor: pointer;
    }
    input[type="button"]:hover {
        background-color: #3e8e41;
    }